# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Cython compiled files
*.c
*.cpp
*.h
*.pyd
*.so

# Cython build directories
build/

# Cython extension directories
dist/

# Setup.py build artifacts
*.egg-info/

# Virtualenvs
venv/
env/
ENV/
.venv/

# CProfile
stats.prof