# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Cython compiled files
*.c
*.cpp
*.h
*.pyd
*.so
*.pyx

# Cython build directories
build/

# Cython extension directories
dist/

# Virtualenvs
venv/
env/
ENV/
.venv/

# line_profiler
*.lprof

#...
notes.md